*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	background-color: cornflowerblue;
	font-size: 20px;
}
#header{
	height: 10vh;
	background-color: lightcoral;
}
.fa{
	font-size: 50px;
	color: #000000;
}
#aside{
	height: 15vh;
	background-color: lavender;
	overflow-x: scroll;
	scrollbar-width: none;

}
#slider{
	background-color: yellow;
	height: 10vh;
	width: 300vh;
}
.bolas{
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
	boder: solid 1px #000;
	background-color: #fff;
	display: inline-block;
}
#main{
	background-color: pink;
	height: 65vh;
	overflow-y: auto;
	scrollbar-width: none;
}

#footer{
	height: 10vh;
	background-color: #ddd;
}