@media screen and (min-width: 769px){
	body{
		background-color: cadetblue;
	}
	#main li{
		width: 25%;
		float: left;
}
	#aside li{
	width: 100%;
	
}
	#header{
	
}
	#header h1{
		float: left;
}
	.sub{
		
	}
	#menu{
		overflow: hidden;
		text-align: center;
		width: 80%;
		margin: 0 auto;
		height: 400px;
		position:relative;

	}
	#sobre li{
		width: 18%;
		padding: 0;
	}
	#menu > li{
		width: 16.667%;
		float: left;
	}
	
	#menu li .sub {
		display: none;
		width: 100%;
		position: absolute;
		top:40px;
		left: 0;
		background-color: brown;
}
	
	#menu li .sub li{
		display: block;
		width: 50%;
		float: none;
		
}
	#menu li:hover > .sub {
		display: flex;
		
	}

	/***div, li{
		padding: 10px;
	}***/ 
	a{
		display: block;
		text-decoration: none;
	}
	.check{
		display: none;
	}
	#burger{
		display: none;
	}
	#main{
		width: 70%;
		float: left;
		overflow: hidden;
		margin-top: 100px;
}
	#aside{
		width: 30%;
		float: left;
		overflow: hidden;
		margin-top: 100px;
}
	#footer{
		height: 100px;
		clear: both;
}
}
